# http://www.appveyor.com/docs/appveyor-yml

# Test against these versions of Io.js and Node.js.
environment:
  matrix:
  # node.js
    - nodejs_version: "0.10"
    - nodejs_version: "0.12"
    - nodejs_version: "4"
    - nodejs_version: "5"
    - nodejs_version: "6"
    - nodejs_version: "Stable"

# Install scripts. (runs after repo cloning)
install:
  # Get the latest stable version of Node 0.STABLE.latest
  - ps: Install-Product node $env:nodejs_version
  - IF %nodejs_version% EQU 0.8 npm -g install npm@2
  - IF %nodejs_version% EQU 0.8 set PATH=%APPDATA%\npm;%PATH%
  - npm -g install npm
  - IF %nodejs_version% NEQ 0.8 set PATH=%APPDATA%\npm;%PATH%
  # Typical npm stuff.
  - npm install

test_script:
  # Output useful info for debugging.
  - node --version
  - npm --version
  # run tests
  - npm test

build: off

version: "{build}"