name: CI

on:
  pull_request:
  release:
    types:
      - published

jobs:
  build:
    name: Build on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-20.04, windows-2019, macos-11]
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: '16'
    - name: Install dependencies
      if: startsWith(matrix.os, 'ubuntu')
      run: sudo apt-get install libxtst-dev libpng++-dev
    - run: npm install
    - name: Release prebuilt artifacts
      if: github.event_name == 'release' && github.event.action == 'published'
      run: npx prebuild --all -r napi -u ${{ secrets.GITHUB_TOKEN }}
    - name: Release prebuilt artifacts (mac arm64)
      if: github.event_name == 'release' && github.event.action == 'published' && startsWith(matrix.os, 'macos')
      run: npx prebuild --all -r napi --arch arm64 -u ${{ secrets.GITHUB_TOKEN }}
    - name: Release prebuilt artifacts (win ia32)
      if: github.event_name == 'release' && github.event.action == 'published' && startsWith(matrix.os, 'windows')
      run: npx prebuild --all -r napi --arch ia32 -u ${{ secrets.GITHUB_TOKEN }}
    - name: Release to npm
      if: github.event_name == 'release' && github.event.action == 'published' && startsWith(matrix.os, 'macos')
      run: npm publish --access public
      env:
        NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
