name: CI

on:
  pull_request:
  release:
    types:
      - published

jobs:
  build:
    name: Build ${{ matrix.build-group }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-20.04
            arch: x64
            build-group: linux-x64
          - os: macos-11
            arch: x64
            build-group: darwin-universal
          - os: windows-2019
            arch: x86
            build-group: win32-x86
          - os: windows-2019
            arch: x64
            build-group: win32-x64
    env:
      BUILD_GROUP: ${{ matrix.build-group }}
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: '16'
        architecture: ${{ matrix.arch }}
    - name: Install linux dependencies
      if: startsWith(matrix.os, 'ubuntu')
      run: sudo apt-get install libxtst-dev libpng++-dev
    - run: npm install
    - name: Prebuildify
      run: npm run prebuild-$BUILD_GROUP
      shell: bash
    - uses: actions/upload-artifact@v2
      with:
        name: prebuilds
        path: prebuilds/
  publish:
    name: Publish to npm
    if: github.event_name == 'release' && github.event.action == 'published'
    runs-on: ubuntu-20.04
    needs: build
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: '16'
        registry-url: 'https://registry.npmjs.org'
    - uses: actions/download-artifact@v2
      with:
        name: prebuilds
        path: prebuilds
    - run: npm publish --access public
      env:
        NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      